<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>VIDEO2STT</title>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link href="//use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet"/>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/video2stt.js"></script>
<link href="./css/video2stt.css" rel="stylesheet"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="VIDEO2STT"/>

<script>
var video = null;
var media = null;
$(function(){
  //. video
  video = document.createElement( 'video' );
  video.id = 'video';
  video.width = '600';
  video.height = '500';
  video.setAttribute( 'autoplay', true );
  video.setAttribute( 'muted', '' );
  video.setAttribute( 'playsinline', '' );
  document.getElementById( 'videoPreview' ).appendChild( video );

  //. media
  var data = {
    audio: false,   //. no voice/mic
    video: {
      facingMode: 'user',  //. front
      width: { ideal: '600' },
      height: { ideal: '500' }
    }
  };
  if( isMobile() ){
    data.video.facingMode = 'environment'; //. back
  }
  media = navigator.mediaDevices.getUserMedia( data ).then( function( stream ){
    video.srcObject = stream;
  });
});

function isMobile(){
  var b = false;
  var ua = navigator.userAgent;
  if( ( ua.indexOf('iPhone') > 0 || ua.indexOf('Android') > 0 ) && ua.indexOf( 'Mobile' ) > 0 ){
    b = true;
  }

  return b;
}
</script>
</head>
<body>

<div class="container" id="videoPreview" style="text-align: center;">
</div>

<div class="container">
  <button class="btn btn-success" id="recBtn" value="Rec" onClick="startRec();" style="display:block;"><i class="fa fa-microphone" aria-hidden="true"></i></button>
  <button class="btn btn-danger" id="stopBtn" value="Stop" onClick="stopRec();" style="display:none;"><i class="fa fa-stop" aria-hidden="true"></i></button>
</div>

<div class="container">
  <ul id="stt_results">
  </ul>
</div>

</body>
</html>
